@{
	ViewData["Title"] = "App Tareas Simples";
}
@model IEnumerable<TareasApp.Models.Tarea>

<h1>Lista de Tareas</h1>

<p>
<a asp-action="Create">añadir Nueva Tarea</a>
</p>
<div class="row justify-content-center">
	<div class="col-6">

<table class="table">
	<thead>

		<tr>
			<th>Ident.</th>
			<th>@Html.DisplayNameFor(Model => Model.Titulo)</th>
			<th>@Html.DisplayNameFor(Model => Model.Descripcion)</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

	</thead>
	<tbody>
		@foreach (var task in Model)
		{
			<tr>

				<td>@Html.DisplayFor(modelItem => task.IdTarea)</td>
				<td>@Html.DisplayFor(modelItem => task.Titulo)</td>
				<td>@Html.DisplayFor(modelItem => task.Descripcion)</td>
				<td><a asp-action="edit" asp-route-id="@task.IdTarea" class="btn btn-secondary">Editar</a></td>
				<td><a asp-action="delete" asp-route-id="@task.IdTarea" class="btn btn-danger ms-3">Eliminar</a></td>
				<td></td>
			</tr>
			
		}
		</tbody>
</table>
	</div>
</div>


@* Esta vista muestra una lista de tareas. Utiliza la directiva @model para 
	especificar el tipo de datos que espera recibir del controlador (IEnumerable<TareasApp.Models.Tarea>). 
	El código HTML genera una tabla para mostrar el título y la descripción de cada tarea. asp-action="Create" 
	crea un enlace a la acción Create del TareasController. *@
